<app-navigation></app-navigation>
<div class="container">
  <br>
<h2 class="text-cyan">
  {{conference.name}}
</h2>
<nav class="nav">
  <a class="nav-item nav-link text-info" routerLink="/conference-overview/{{conference.id}}" routerLinkActive="active">Overview</a>
  <a class="nav-item nav-link text-info" routerLink="#" routerLinkActive="active">Submit a paper</a>
  <a class="nav-item nav-link text-info" routerLink="#" routerLinkActive="active">Participate</a>
  <a *ngIf="showRegisterPCM" class="nav-item nav-link text-info" routerLink="/pcmember-registration-conference" routerLinkActive="active">Register as Program Committee Member</a>
</nav>
</div>
