<div class="fullscreen-bg">
  <video loop muted autoplay poster="../../assets/main-video-poster.png" class="fullscreen-bg__video">
    <source src="../../assets/main_page_video.mp4" type="video/mp4" oncanplay="video.play()" onloadedmetadata="video.muted = true">
  </video>
</div>
<app-navigation></app-navigation>
<div class="container">
  <br>
  <br>
  <br>
  <h1 class="text-cyan display-2 text-border-weak">
    FRISOAM
  </h1>
  <h2 class="text-cyan text-border-weak">
    A conference management system
  </h2>
  <br>
  <br>
  <h3 id="introduction" class="text-cyan text-border-weak">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident.
  </h3>
</div>
